@charset "utf-8";
/* CSS Document */
.clear{clear:both}
body .header .header-part3{height:300px}
.new_banner{height:300px; background:#fff url(../../../images/add/banner1.png) no-repeat center center; font-size:45px; color:#737373; text-align:center; line-height:70px; font-weight:bold; padding-top:60px}
.yuan_bac{background:url(../../../images/add/yuans/banner2.png) no-repeat center center; color:#fff; padding-top:80px}
.main_add{text-align:center; width:1024px; margin:auto}
.main_add .title_add {
    display: inline-block;
    margin-bottom: 24px;
    margin-top: 32px;
    
	text-align:center;
	
}
.main_add .title_add .main-title {
    color: #333333;
    font-size: 32px;
    margin: 0 auto;
}
.main_add .title_add .main-subtitle {
    color: #666666;
    font-size: 16px;
    margin: 10px auto 0;
}

.main_part{background:#f8f9f9; margin-bottom:15px; margin-top:10px}
.main_part_pic{float:left; width:685px; text-align:left}
.main_part_con{float:left; width:330px; padding:0 20px}

.main_part_con h5{font-size:24px; color:#5f8bc9; font-weight:bold; line-height:50px}
.main_part_con p{margin-bottom:5px; font-size:14px; line-height:28px; text-align:left; color:#999}
.main_part_con p span{font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#fd7d00}

.main_part_n_bac{background:none}

.main_part_box{width:111px; float:left; margin-right:41px; background:url(../../../images/add/box_bac.png) no-repeat center top; height:200px}
.main_part_box img{margin:30px auto}
.main_part_box p{font-size:16px; line-height:30px; margin-top:10px}
.main_part_box_r{margin-right:0}

.blue_bac{background:#bdd9ec url(../../../images/add/yuans/bac.png)  no-repeat right top}
.m_con{width:100%; background:url(../../../images/add/yuans/ys_bac.png) no-repeat 350px center; height:310px}

.m_con h6{font-size:28px; color:#666; text-align:left; padding-left:60px; line-height:80px; padding-top:30px}

.m_con p{width:300px; text-align:left; margin-left:60px; color:#666; font-size:16px; line-height:30px}

.main_part .commonality-bg {
    display: flex;
    justify-content: space-between;
	margin-bottom:30px
}
.index_rencai .index_rencaiTxt {
    font-size: medium;
    font-weight: bold;
    line-height: 30px;
	text-align:left
	
}
.index_rencai .index_rencaiTxt span {
    font-size: 14px;
    font-weight: normal;
    
}
.index_rencai .img4{float:left; width:150px}
.index_rencai .ys_con{float:left; margin-left:10px}
.title_add a{color:#666}
.title_add a:hover{text-decoration:none}



#mask_shadow {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
#popup {
  display: none;
  opacity: 0; 
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 800px;
  height: 525px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#popup .title {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #5bc0de;
  cursor: move;
}
#popup .title p {
  padding-left: 14px;
  line-height: 55px;
  color: #fff;
  font-size:18px
}
#popup .title span {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: #000;
  opacity: .2;
  font-size: 21px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #333;
}
#popup .title span:hover {
  opacity: .8;
}
#popup .cont { width: 100%; height: 470px; background-color: #EDEDED;    }

.cooper_bac{background:url(../../../images/add/huq/banner.png) no-repeat}
.tit_bac{background:url(../../../images/add/tpbg.jpg) repeat-x; width:100%}
.tit_bac .main-title{background:#fff; width:40%; margin:auto}

.huq_t{float:left; width:40%; text-align:left}
.huq_c{float:left; width:55%; font-size:22px; line-height:42px; text-align:left; padding-top:20px}
.huq_c span{color:#FC0; font-weight:bold}

.analysis_bac{height:120px; background:url(../../../images/add/dasj/banner.png)}
.data_b{background:url(../../../images/add/dasj/tub.png) no-repeat; height:600px}

.data_b p{ text-align:left; font-size:20px; line-height:36px; padding:50px 0 0 400px}
.leader_bac{background:url(../../../images/add/leader/banner.png)}
.main_part ul{float:left; width:55%}
.main_part .app_bac{float:left; width:45%; background:url(../../../images/add/leader/bac.png) no-repeat; height:500px}
.main_part .app_bac .app_phone{background:url(../../../images/add/iphone.png) no-repeat; width:280px; height:525px; margin:auto}
.main_part ul{margin:30px auto; margin-bottom:100px}
.main_part li{
-webkit-border-radius:40px;
-moz-border-radius:40px;
-ms-border-radius:40px;
-o-border-radius:40px;

line-height:30px;
margin-bottom:25px;
color:#fff;
font-size:24px;
background:#7da1d6;
width:70%;
padding:20px 5%;

}

.today_bac{background:url(../../../images/add/today/banner.png)}
.movie_bac{background:url(../../../images/add/movie/1.jpg) no-repeat; width:1280px; height:650px; margin:20px auto; background-size:100% 100%}

.movie_bac h2{color:#fff; font-size:42px; margin-left:12%; font-weight:bold; line-height:70px; padding-top:60px;text-shadow:3px 3px 2px #333}
.movie_bac h4{color:#fff; font-size:24px; margin-left:13%;  line-height:40px; padding-top:30px;text-shadow:2px 2px 2px #333}

.movie_bac .tab_t{margin-left:13%; width:40%; color:#fff;  font-size:18px; margin-top:80px;text-shadow:2px 2px 2px #333}
.movie_bac .tab_t td{line-height:32px;}

.movie_but{background:#527eab; height:50px; font-size:24px; color:#fff; -webkit-border-radius:50px; line-height:50px;   width:240px; text-align:center; box-shadow:1px 1px 2px #333;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;}
.but_po{margin-left:75%;}

.huq_con{position:relative}

.but_huq{position:absolute; right:20px; top:30px}
















