body .header .header-part1 {
	width: 100%; height: 60px; line-height: 60px; box-shadow: 0px 0px 10px #ddd; -webkit-box-shadow: 0px 0px 10px #ddd;
}
body .header .header-part1 .header-part1-con {
	margin: auto; height: 60px; display: flex; max-width: 1200px; justify-content: space-between; -webkit-box-pack: justify;
}
body .header .header-part1 .header-part1-con ul {
	display: flex;
}
body .header .header-part1 .header-part1-con ul li {
	line-height: 60px; margin-right: 16px;
}
body .header .header-part1 .header-part1-con ul li:hover a {
	color: rgb(95, 139, 201);
}
body .header .header-part1 .header-part1-con ul li a {
	color: rgb(153, 153, 153); font-size: 14px;
}
body .header .header-part1 .header-part1-con ul .selected a {
	font-weight: bold;
}
body .header .header-part1 .header-part1-con .login span {
	line-height: 60px; font-size: 14px; margin-left: 22px;
}
body .header .header-part1 .header-part1-con .login span a {
	color: rgb(153, 153, 153); font-size: 14px;
}
body .header .header-part1 .header-part1-con .login span a:hover {
	color: rgb(95, 139, 201);
}
body .header .header-part2 {
	margin: auto; width: 1200px; height: 88px; line-height: 88px; display: flex; justify-content: space-between; align-items: center; -webkit-box-pack: justify; -webkit-box-align: center;
}
body .header .header-part2 .logo {
	width: auto; height: 50px; line-height: 88px;
}
body .header .header-part2 .logo a {
	display: block;
}
body .header .header-part2 ul {
	display: flex;
}
body .header .header-part2 ul li {
	line-height: 88px; margin-left: 16px;
}
body .header .header-part2 ul li:hover a {
	color: rgb(95, 139, 201);
}
body .header .header-part2 ul li a {
	color: rgb(102, 102, 102); font-size: 16px;
}
body .header .header-part2 ul .selected a {
	color: rgb(95, 139, 201); font-weight: bold; border-bottom-color: rgb(95, 139, 201); border-bottom-width: 3px; border-bottom-style: solid;
}
body .header .header-part3 {
	height: 118px; background-color: rgb(95, 139, 201);
}
body .header .header-part3 p {
	top: 50%; text-align: center; color: rgb(255, 255, 255); font-size: 40px; font-weight: bold; position: relative; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
